@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
.hero, .article-wrap, .banner, .mini-articles, .tea-carousel, .contact-form {
  /* Giving classes common grid item properties */
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-wrapper, .mini-articles {
  /* Giving classes common grid container properties */
  display: grid;
}

:root {
  --tc-orange: #f59b1a;
  --tc-brown: #a86315;
  --tc-logocolor: #709a2d;
  --font-main: Roboto, sans-serif;
  --font-header: Oswald, sans-serif;
}

header {
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
}

#top-logo {
  width: 75px;
  margin-top: 15px;
}

nav {
  text-align: center;
  margin: auto;
}

.top-ul, .top-ul li {
  display: inline-block;
  list-style-type: none;
}

.tea-variant, .top-ul li a {
  display: inline-block;
  list-style-type: none;
}

.tea-variant a, .top-ul a {
  display: inline-block;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}

.sub-nav {
  width: 100%;
  margin: auto;
  background-color: #f59b1a;
  text-align: center;
}

.tea-variant {
  color: #fff;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  height: 35px;
  line-height: 35px;
}

.top-ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  width: 65%;
  margin: auto;
  height: auto;
  vertical-align: middle;
  height: 150px;
  line-height: 150px;
  font-size: 1rem;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  user-zoom: fixed;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-zoom: fixed;
  overflow: hidden;
  /* Prevent native touch events on Windows */
  -ms-touch-action: none;
  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.content-wrapper {
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  margin-top: 185px;
}

@media screen and (max-width: 767px) {
  .content-wrapper {
    /* PHONE MQ */
    color: red;
  }
}

.hero {
  grid-column: 2 / 3;
}

.article-wrap {
  grid-column: 2 / 3;
}

.banner {
  grid-column: 1 / span all;
}

.mini-articles {
  grid-column: 2 / 3;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
}

.tea-carousel {
  grid-column: 1 / span all;
}

.contact-form {
  grid-column: 2 / 3;
}
