@import 'mixins/grid';
@import 'mixins/mqs';
@import 'vars';
@import 'hero';


html {
    scroll-behavior: smooth;
    user-zoom: fixed;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $light-orange;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-zoom: fixed;
    overflow: hidden;


    /* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.content-wrapper {
    @include isGridContainer("1fr minmax(auto, 1024px) 1fr", none);
    // height: 200px;

    // @include mq-phone {
    //     color: red;
    // }
}

.article-wrap {
    @include isGridItem("2 / 3", none);
}

.banner {
    @include isGridItem("1 / span all", none)
}

.mini-articles {
    @include isSubGridContainer("2 / 3", none, "repeat(3, 1fr)", none);
}

.tea-carousel {
    @include isGridItem("1 / span all", none)
}

.contact-form {
    @include isGridItem("2 / 3", none)
}



