@import 'mixins/grid';
@import 'mixins/mqs';
@import 'vars';
@import 'footer';

$bg-color: #0e0e0e;
$color: #fff;

@import 'hero';
@import 'banner';
@import 'navigation';
@import 'giftbox';
@import 'blog';
@import 'miniarticles';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    user-zoom: fixed;
}

body {

    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: $mainfont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    user-zoom: fixed;


    /* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
}

.hero {
    @include isGridItem("2 / 3", none);
}

.imgWidth {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0;
    margin: 0;
    position: relative;
}

.content-wrapper {
    @include isGridContainer("minmax(16px, 1fr) minmax(auto, 1024px) minmax(16px, 1fr)", none);
    // height: 200px;
    margin-top: 225px;
}

.article-wrap {
    @include isGridItem("2 / 3", none);
}



.mini-articles {
    @include isSubGridContainer("2 / 3", none, "repeat(3, 1fr)", none);
}

.tea-carousel {
    @include isGridItem("1 / span all", none)
}

.contact-form {
    @include isGridItem("2 / 3", none)
}
