@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

// $orange: #f59b1a;
// $brown: #a86315;
// $logocolor: #709a2d;
//
// $headerfont: Oswald;
// $mainfont: Roboto;


$orange: var(--tc-orange);
$brown: var(--tc-brown);
$logocolor: var(--tc-logocolor);

$headerfont: var(--font-header);
$mainfont: var(--font-main);


:root {
    --tc-orange: #f59b1a;
    --tc-brown: #a86315;
    --tc-logocolor: #ffcc00;
    --font-main: 'Roboto', sans-serif;
    --font-header: 'Oswald', sans-serif;
}
